body{
    background-color: rgb(255, 249, 241);
    margin: 0px;  
}

.header>img{
   height: 270px;
   margin: 0px;
   display: inline-flex;
   width: 130vh;
   bottom: 0;
  
}
.menu{
    background-color: #61162d;
    float: left;

    flex-direction: column;
    flex-wrap: nowrap;

    color: white;
    height: 80vh;
    margin: 0px;

    padding: 20px; 
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
    margin: 0px;
}
.main ul{
    list-style-type: none;
    margin: 0px;
}
.main img{
    border-radius: 30%;
    border: 5px solid rgb(190, 154, 63);
}
i{
    color: #61162d;
    font-size: 30px;
    text-align: center;
}
footer{
    clear: both;
    background-color: #61162d;
    color: white;

    padding: 0px;
    margin: 0px;

    border: 5px solid rgb(190, 154, 63);
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;

    
}
span{
    color:white;
}
