.header-background{
    background-image: url(images/maroon-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#main-profile{
    color: white;
    list-style-type: none;
}
img{
    border-radius: 50%;
}
.feature-icon-small {
    width: 4rem;
    height: 4rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color:#61162d !important;
}
.nav {
    --bs-nav-link-color: #61162d !important;
    --bs-nav-link-hover-color: rgb(191, 137, 0)!important;
    --bs-nav-link-disabled-color: rgb(191, 137, 0) !important;
}

a:hover .bi{
    fill: #bf8900 !important;
}



