/* Background Image for Profile*/
.header-background{
    background-image: url(images/maroon-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Text color for Profile */
#main-profile{
    color: white;
    list-style-type: none;
}
/*Profile Image Roundness */
img{
    border-radius: 50%;
}
/*Targets the Home Button Color*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color:#61162d !important;
}
/*Targets the Nav Tab colors */
.nav {
    --bs-nav-link-color: #61162d !important;
    --bs-nav-link-hover-color: rgb(191, 137, 0)!important;
}
/* Target's Social Media Icon color*/
a:hover .bi{
    fill: #bf8900 !important;
}
/* Target's the word Link for  */
a:hover .wb-icon {
    color: #bf8900 !important;
}

